
@{
    ViewBag.Title = "Index";
}

<body>

    <div>
        <style> h2 {
                       margin-top: 100px ;
                       margin-left: 60px;
                    }</style>
        <h2>All Products</h2>
        

        <style>
            places-list1 {
                margin: 32px 30px 0;
                padding-bottom: 48px;
            }

            img.place-img1 {
                height: 350px;
                width: 350px;
                margin-left: 60px;
            }

            .place-item1 {
                float: left;
                width: 33.33333%;
                padding: 0 8px;
            }

            .place-img1 {
                width: 100%;
                display: block;
            }

                .place-img1:hover {
                    opacity: 0.6;
                }

            .place-body1 {
                text-align: center;
                padding: 16px;
                font-size: 15px;
                background-color: #fff;
            }

            .place-heading1 {
                font-size: 15px;
            }

            .place-time1 {
                margin-top: 15px;
                color: #757575;
            }

            .place-desc1 {
                margin-top: 15px;
                line-height: 1.6;
            }

            .place-buy-btn1 {
                background-color: #000;
                color: #fff;
                text-decoration: none;
                padding: 11px 16px;
                display: inline-block;
                margin-top: 15px;
            }

                .place-buy-btn1:hover {
                    background-color: #ccc;
                    color: #000;
                }
        </style>

        <div class="places-list1">
            <div class="place-item1">
                <img src="~/asset/shop/takeoff.jpg" alt="Long Xuyên" class="place-img1">
                <div class="place-body1">
                    <h3 class="place-heading1">Take Off</h3>
                    <p class="place-desc1">The Wolf SkateBoard</p>
                    <p class="place-time1">1.350.000 VNĐ</p>

                    <button href="#" class="place-buy-btn js-buy-tickets">Buy</button>   <button href="#" class="place-buy-btn js-buy-tickets">Add to Cart</button>
                </div>
            </div>
            <div class="place-item1">
                <img src="~/asset/shop/take off.jpg" alt="Cần Thơ" class="place-img1">
                <div class="place-body1">
                    <h3 class="place-heading1">Take Off</h3>
                    <p class="place-desc1">Sky High SkateBoard</p>
                    <p class="place-time1">1.350.000 VNĐ</p>
                    <button href="#" class="place-buy-btn js-buy-tickets">Buy</button>  <button href="#" class="place-buy-btn js-buy-tickets">Add to Cart</button>
                </div>
            </div>
            <div class="place-item1">
                <img src="~/asset/shop/takeof.jpg" alt="bac lieu" class="place-img1">
                <div class="place-body1">
                    <h3 class="place-heading1">Take Off</h3>
                    <p class="place-desc1">Super NaTuRal SkateBoard</p>
                    <p class="place-time1">1.350.000 VNĐ</p>
                    <button href="#" class="place-buy-btn js-buy-tickets">Buy</button>  <button href="#" class="place-buy-btn js-buy-tickets">Add to Cart</button>
                </div>
            </div>
            <div class="clear"></div>
        </div>

        <div class="places-list1">
            <div class="place-item1">
                <img src="~/asset/shop/takeoff.jpg" alt="Long Xuyên" class="place-img1">
                <div class="place-body1">
                    <h3 class="place-heading1">Take Off</h3>
                    <p class="place-desc1">The Wolf SkateBoard</p>
                    <p class="place-time1">1.350.000 VNĐ</p>

                    <button href="#" class="place-buy-btn js-buy-tickets">Buy</button>   <button href="#" class="place-buy-btn js-buy-tickets">Add to Cart</button>
                </div>
            </div>
            <div class="place-item1">
                <img src="~/asset/shop/take off.jpg" alt="Cần Thơ" class="place-img1">
                <div class="place-body1">
                    <h3 class="place-heading1">Take Off</h3>
                    <p class="place-desc1">Sky High SkateBoard</p>
                    <p class="place-time1">1.350.000 VNĐ</p>
                    <button href="#" class="place-buy-btn js-buy-tickets">Buy</button>  <button href="#" class="place-buy-btn js-buy-tickets">Add to Cart</button>
                </div>
            </div>
            <div class="place-item1">
                <img src="~/asset/shop/takeof.jpg" alt="bac lieu" class="place-img1">
                <div class="place-body1">
                    <h3 class="place-heading1">Take Off</h3>
                    <p class="place-desc1">Super NaTuRal SkateBoard</p>
                    <p class="place-time1">1.350.000 VNĐ</p>
                    <button href="#" class="place-buy-btn js-buy-tickets">Buy</button>  <button href="#" class="place-buy-btn js-buy-tickets">Add to Cart</button>
                </div>
            </div>
            <div class="clear"></div>
        </div>

    </div>
</body>