
@{ ViewBag.Title = "Index"; }

<!DOCTYPE html>
<html>
<head>
    <title>Đăng nhập vào website</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAAAAAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAFBT8AEVwoQAcWowAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACARAgAAAAACIAACIAAAACIiACIiAAAAIgIAICIAAAAiAiIgIgAAACICIiAiAAAAAiIiIiAAAAAgIiIiAgAAACMAAAAyAAAAIyAAAjIAAAAiIAACIgAAACIgAAIiAAAAIiAAAyIAAAAAAAAAAAAAAAAAAAAAAADwPwAA4B8AAMAPAACABwAAgAcAAIAHAACABwAAgAcAAIAHAACABwAAgwcAAIMHAACDBwAAgwcAAMePAAD//wAA" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="~/Content/login.css">
    <link rel="stylesheet" href="/Home">
</head>
<body>
    <header>
    </header>

    <div class="container">
        <div class="login-form">
            <form action="" method="post">
                <h1>ĐĂNG NHẬP VÀO WEBSITE</h1>
                <div class="input-box">
                    <i></i>
                    <input type="text" placeholder="Nhập username">
                </div>
                <div class="input-box">
                    <i></i>
                    <input type="password" placeholder="Nhập mật khẩu">
                </div>

                <p class="account"> <a class="new-account2" href="/createlogin">Tạo tài khoản?</a></p>
                <div class="btn-box">

                    <button class="submit">
                        Đăng nhập
                    </button>
                    <button class="out"> <a class="text-out" href="/Home">Thoát</a></button>
                </div>
            </form>
        </div>
    </div>



    <footer>
    </footer>
</body>

</html>

