
<div id="header">
    <!-- --Begin: nav-- -->
    <!-- ul#nav>li*5>a -->
    <ul id="nav">
        <li><a href="/Home#">Trang chủ</a></li>
        <li><a href="/Home#introduce">Giới thiệu</a></li>
        <li><a href="/Home#service">Dịch vụ</a></li>
        <li><a href="/Home#contact">Liên hệ</a></li>
        <li>
            <a href="">
                Tin tức
                <i class="nav-arrow-down ti-angle-down"></i>
            </a>
            <!-- ul.subnav>li*3>a -->
            <ul class="subnav" style="min-width:460px;">
                <li><a href="/TinTuc/Index">CHẾ ĐỘ DINH DƯỠNG CHO MÈO</a></li>
                <li><a href="/TinTuc/LuuY">CHĂM SÓC THÚ CƯNG KHI CÓ TRẺ NHỎ</a></li>
                <li><a href="/TinTuc/DieuTri">PHÒNG NGỪA, ĐIỀU TRỊ CÚM Ở MÈO</a></li>
                <li><a href="/TinTuc/TiemNgua">TẠI SAO PHẢI TIÊM VACXIN CHO THÚ CƯNG</a></li>
                <li><a href="/TinTuc/ThucPham">CÁC LOẠI THỰC PHẨM TỐT CHO HỆ TIÊU HÓA CỦA CHÓ</a></li>
            </ul>
        </li>
    </ul>
    <!-- --End: nav-- -->
    <!-- Begin: Search Button -->
    <a class="login" onclick="location.href='/login'">ĐĂNG NHẬP</a>
    <div class="search-btn">
        <i class="search-icon ti-search"></i>

    </div>




    <!-- <button id="cart">
        <i aria-hidden="true"></i>
        Giỏ Hàng
    </button> -->
    <!-- End: Search Button -->
</div>
