
<div id="header">
    <!-- --Begin: nav-- -->
    <!-- ul#nav>li*5>a -->
    <ul id="nav">
        <li><a href="/Home#">Trang chủ</a></li>
        <li><a href="/Home#introduce">Giới thiệu</a></li>
        <li><a href="/Home#service">Dịch vụ</a></li>
        <li><a href="/Home#contact">Liên hệ</a></li>
        <li>
            <a href="">
                Thông tin
                <i class="nav-arrow-down ti-angle-down"></i>
            </a>
            <!-- ul.subnav>li*3>a -->
            <ul class="subnav">
                <li><a href="">Chó</a></li>
                <li><a href="">Mèo</a></li>
                <li><a href="">...</a></li>
            </ul>
        </li>
    </ul>
    <!-- --End: nav-- -->
    <!-- Begin: Search Button -->
    <a class="login" onclick="location.href='/login'">ĐĂNG NHẬP</a>
    <div class="search-btn">
        <i class="search-icon ti-search"></i>

    </div>




    <!-- <button id="cart">
        <i aria-hidden="true"></i>
        Giỏ Hàng
    </button> -->
    <!-- End: Search Button -->
</div>
