@{ ViewBag.Title = "IDLE"; }



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetZone</title>
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAAAAAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAFBT8AEVwoQAcWowAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACARAgAAAAACIAACIAAAACIiACIiAAAAIgIAICIAAAAiAiIgIgAAACICIiAiAAAAAiIiIiAAAAAgIiIiAgAAACMAAAAyAAAAIyAAAjIAAAAiIAACIgAAACIgAAIiAAAAIiAAAyIAAAAAAAAAAAAAAAAAAAAAAADwPwAA4B8AAMAPAACABwAAgAcAAIAHAACABwAAgAcAAIAHAACABwAAgwcAAIMHAACDBwAAgwcAAMePAAD//wAA" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="~/Content/Site.css">
</head>
<body>
    <div id="main">

        <div id="slider">
            <div class="text-content">
                <h2 class="text-heading">Pet Zone</h2>
                <div class="text-description">Thank you - We won't forget</div>
            </div>
        </div>

        <div id="content">
            <!-- About section -->
            <div id="introduce" class="content-section">
                <h2 class="section-heading">GIỚI THIỆU</h2>
                <p class="section-sub-heading">We love pet!</p>
                <p class="about-text">
                    Hiện nay việc sở hữu nuôi dưỡng thú cưng ngày càng trở nên phổ biến, chính vì thế dịch vụ chăm sóc, chữa bệnh và tiêm vacxin phòng bệnh cho thú cưng là một nhu cầu hết sức cần thiết. Nắm bắt được xu thế này thì từ năm 2012, Bệnh viện thú y PetZone Clinic đã được ra đời. Với hệ thống trang thiết bị máy móc hiện đại cùng việc sử dụng và nhập khẩu nhiều loại thuốc điều trị bệnh cho thú cưng thì phòng khám thú y PetZone đã và đang trở thành một địa chỉ đáng tin cậy của người dân trên địa bàn thành phố Hồ Chí Minh. Từ khi thành lập đến nay, PetZone luôn nhận được sự tin tưởng và đồng hành của hàng trăm, hàng nghìn và hàng vạn các chủ thú cưng. Bằng sự tâm huyết, nhiệt tình và giàu tình yêu thương với các chú Boss đáng yêu, PetZone luôn vận động đổi mới để ngày càng đáp ứng đầy đủ mọi nhu cầu của khách hàng.
                </p>
                <p class="doctor-text">
                    Bác sĩ nổi bật!
                </p>
                <div class="row member-list">
                    <div class="col col-five text-center">
                        <p class="member-name">Lisa</p>
                        <img src="~/asset/image/doctor/member/doctor1.jpg" alt="Name" class="member-img">
                    </div>
                    <div class="col col-five text-center">
                        <p class="member-name">David</p>
                        <img src="~/asset/image/doctor/member/doctor2.jpg" alt="Name" class="member-img">
                    </div>
                    <div class="col col-five text-center">
                        <p class="member-name">Tony</p>
                        <img src="~/asset/image/doctor/member/doctor3.jpg" alt="Name" class="member-img">
                    </div>
                    <div class="col col-five text-center">
                        <p class="member-name">Robert</p>
                        <img src="~/asset/image/doctor/member/doctor4.jpg" alt="Name" class="member-img">
                    </div>
                    <div class="col col-five text-center">
                        <p class="member-name">Gladys</p>
                        <img src="~/asset/image/doctor/member/doctor5.jpg" alt="Name" class="member-img">
                    </div>


                </div>
            </div>

            <!-- Tour section -->
            <div id="service" class="service-section">
                <div class="content-section">
                    <h2 class="section-heading text-white">DỊCH VỤ</h2>
                    <p class="section-sub-heading text-white">Booking your service!</p>
                    <!-- Ticket -->
                    <ul class="ticket-list">
                        <li>CN 1: 222 Bùi Đình Túy, phường 12, quận Bình Thạnh, Tp.HCM.<span class="quantity">Open</span></li>
                        <li>CN 2: 497 Phan Văn Trị, phường 7, quận Gò Vấp, Tp.HCM.<span class="quantity">Open</span></li>
                        <li>CN 3: 152 Trần Hưng Đạo, phường 5, Tp.Biên Hòa, tỉnh Đồng Nai. <span class="time-open">Close</span></li>
                    </ul>

                    <!-- Place -->
                    <div class="row place-list">
                        <div class="col col-third">
                            <img src="~/asset/image/pet-service/tiem-ngua.jpg" alt="#" class="place-img">
                            <div class="place-body">
                                <h3 class="place-heading">Chích ngừa.</h3>
                                <p class="place-time">Chó & mèo.</p>
                                <p class="place-desc">Chích ngừa cho chó mèo là việc làm hết sức quan trọng và cần thiết mà các chủ thú cưng phải làm. Kháng thể được tạo ra sau khi tiêm vắc-xin giúp thú cưng chống lại các bệnh nguy hiểm, bệnh không có thuốc chữa, bệnh truyền nhiễm, từ đó bảo vệ sức khỏe và tính mạng của thú cưng.</p>
                                <button href="#" class="btn js-buy-ticket">Đặt lịch</button>
                            </div>
                        </div>
                        <div class="col col-third">
                            <img src="~/asset/image/pet-service/cap-cuu.jpg" alt="#" class="place-img">
                            <div class="place-body">
                                <h3 class="place-heading">Cấp cứu 24/7.</h3>
                                <p class="place-time">Sẵn sàng vì bạn và thú cưng.</p>
                                <p class="place-desc">Cũng như các bệnh viện thú y 24/24 mở cửa. Để nếu xảy ra những trường hợp khẩn cấp về sức khỏe mà thú cưng có thể gặp phải như các vấn đề dưới đây. Bạn sẽ không phải lo lắng, hay bị hoảng sợ mà chỉ việc đưa thú cưng tới phòng khám ngay lập tức.</p>
                                <button href="#" class="btn js-buy-ticket">Đặt lịch</button>
                            </div>
                        </div>
                        <div class="col col-third">
                            <img src="~/asset/image/pet-service/phoi-giong.jpg" alt="#" class="place-img">
                            <div class="place-body">
                                <h3 class="place-heading">Phối giống.</h3>
                                <p class="place-time">Chó.</p>
                                <p class="place-desc">PetZone chúng tôi nhận phối giống các dòng chó và hỗ trợ đỡ phối rất nhiều dòng chó cảnh hiện đang có mặt  tại Việt Nam như Alaska, Husky, Poodle, Rootweiler, Chihuahua, Chó Đốm, Corgi, Bắc Kinh, Bull Pháp, Bulldog ,Bully, …. cùng rất nhiều dòng chó khác.</p>
                                <button href="#" class="btn js-buy-ticket">Đặt lịch</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <!-- Begin: Contact section -->
            <div id="contact" class="content-section">
                <h2 class="section-heading">LIÊN HỆ</h2>
                <p class="section-sub-heading">Drop a note!</p>

                <div class="row contact-content">
                    <div class="col col-haft contact-info">
                        <p><i class="ti-location-pin"></i>Sai Gon, VietNam</p>
                        <p><i class="ti-mobile"></i>Phone: 0942861921</p>
                        <p><i class="ti-email"></i>Email: petzone@gmail.com</p>
                    </div>
                    <div class="col col-haft contact-form">
                        <form action="">
                            <div class="row">
                                <div class="col col-haft contact-info">
                                    <input type="text" name="" placeholder="Name" required id="" class="form-control">
                                </div>
                                <div class="col col-haft">
                                    <input type="email" name="" placeholder="Email" required id="" class="form-control">
                                </div>
                            </div>

                            <div class="row mt-8">
                                <div class="col col-full">
                                    <input type="message" name="" placeholder="Message" required id="" class="form-control">
                                </div>
                            </div>

                            <input class="btn pull-right mt-16" type="submit" value="SEND">
                        </form>
                    </div>
                </div>
            </div>
            <!-- End: Contact section -->
            <div class="map-section">
                <img src="~/asset/image/maps/map4.jpg" alt="">
            </div>
        </div>


        <div id="footer">
            <div class="socials-list">
                <a href="https://www.facebook.com/nghia.nguyenminh.77128261"><i class="ti-facebook"></i></a>
                <a href="https://www.instagram.com/nghia.ngu/"><i class="ti-instagram"></i></a>
                <a href=""><i class="ti-youtube"></i></a>
                <a href=""><i class="ti-twitter"></i></a>
            </div>
            <p class="copyright">Powered by <a href="">PetZone.</a></p>
        </div>
    </div>

    <div class="modal js-modal">
        <div class="modal-container js-modal-container">
            <div class="modal-close js-modal-close">
                <i class="ti-close"></i>
            </div>
            <header class="modal-header">
                <i class="modal-heading-icon ti-timer"></i>
                ĐẶT LỊCH
            </header>

            <div class="modal-body">
                <div class="display-block">
                    <label for="ticket-quantity" class="modal-label">
                        <i class="ti-shopping-cart"></i>
                        Dịch vụ:
                    </label>
                    <input id="ticket-quantity" type="text" class="modal-input input1" placeholder="Tên dịch vụ?">
                </div>


                <div class="display-block">
                    <label for="ticket-email" class="modal-label">
                        <i class="ti-ruler-pencil"></i>
                        Thông tin thú cưng:
                    </label>
                    <input id="ticket-email" type="text" class="modal-input input2" placeholder="Điền thông tin thú cưng...">
                </div>


                <div class="display-block">
                    <label for="ticket-email" class="modal-label">
                        <i class="ti-user"></i>
                        Họ & tên:
                    </label>
                    <input id="ticket-email" type="text" class="modal-input input3" placeholder="Điền họ tên...">
                </div>

                <div class="display-block">
                    <label for="ticket-email" class="modal-label">
                        <i class="ti-email"></i>
                        Gửi đến email:
                    </label>
                    <input id="ticket-email" type="text" class="modal-input input4" placeholder="Điền email...">
                </div>

                <div class="display-block">
                    <label for="ticket-email" class="modal-label">
                        <i class="ti-thought    "></i>
                        Phone:
                    </label>
                    <input id="ticket-email" type="text" class="modal-input input5" placeholder="Điền số điện thoại...">
                </div>



                <div class="display-block">
                    <label for="ticket-quantity" class="modal-label">
                        <i class="ti-comment-alt"></i>
                        Ghi chú:
                    </label>
                    <input id="ticket-quantity" type="text" class="modal-input input7" placeholder="Nội dung...">
                </div>


                <div class="display-block">
                    <label for="ticket-email" class="modal-label">
                        <i class="ti-face-sad"></i>
                        Loại bệnh:
                    </label>
                    <select name="sicks" id="sicks">
                        <option value="#">Cảm cúm</option>
                        <option value="#">Không tiêu hóa thức ăn</option>
                        <option value="#">Phẫu thuật</option>
                        <option value="#">Tiêm ngừa</option>
                        <option value="#">Chăm sóc răng miệng</option>
                        <option value="#">Khám sức khỏe định kì</option>
                    </select>
                </div>

                <div class="display-block">
                    <i class="ti-file">Chọn hình ảnh:</i>
                    <form class="mb-8" action="/action_page.php">
                        <input type="file" id="myFile" name="filename">
                        <input type="submit">
                    </form>
                </div>

                <button id="buy-tickets">
                    Xác nhận <i class="ti-check"></i>
                </button>
            </div>

            <footer class="modal-footer">
                <p class="modal-help">Cần <a href="">hổ trợ?</a></p>
            </footer>

        </div>
    </div>

    <script>
        const buyBtns = document.querySelectorAll('.js-buy-ticket')
        const modal = document.querySelector('.js-modal')
        const modalContainer = document.querySelector('.js-modal-container')
        const modalClose = document.querySelector('.js-modal-close')
        // .........................



        // hàm hiển thị modal (thêm class open vào modal)
        function showBuyTickets() {
            // alert("SHOW!")
            modal.classList.add('open')
        }

        // hàm ẩn modal mua vé (gỡ bỏ class open của modal)
        function hideBuyTickets() {
            modal.classList.remove('open')
        }

        // lặp qua từng thẻ button và nghe hành vi click
        for (const buyBtn of buyBtns) {
            buyBtn.addEventListener('click', showBuyTickets)
        }

        // nghe hành vi click vào button close
        modalClose.addEventListener('click', hideBuyTickets)

        modalContainer.addEventListener('click', function (event) {
            event.stopPropagation()
        })

                // Login



    </script>

</body>
</html>