
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cách điều trị và phòng ngừa bệnh cúm ở mèo</title>
    <link href="~/Content/TinTuc.css" rel="stylesheet" />
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAAAAAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAFBT8AEVwoQAcWowAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACARAgAAAAACIAACIAAAACIiACIiAAAAIgIAICIAAAAiAiIgIgAAACICIiAiAAAAAiIiIiAAAAAgIiIiAgAAACMAAAAyAAAAIyAAAjIAAAAiIAACIgAAACIgAAIiAAAAIiAAAyIAAAAAAAAAAAAAAAAAAAAAAADwPwAA4B8AAMAPAACABwAAgAcAAIAHAACABwAAgAcAAIAHAACABwAAgwcAAIMHAACDBwAAgwcAAMePAAD//wAA" rel="icon" type="image/x-icon" />
</head>
<body>
    <div id="wapper">
        <h1>Cách điều trị và phòng ngừa bệnh cúm ở mèo</h1>
        <ul class="list-post">
            <p class="text-first">
                Cúm mèo gây ra các triệu chứng giống như cảm lạnh ở con người như: chảy nước mũi và nghẹt mũi. Căn bệnh này có thể khiến mèo sụt sịt, hắt hơi, sốt, chảy nước dãi, đỏ mắt và chảy nước mắt. Ngoài ra, mèo mắc bệnh cúm cũng ngại vận động do cảm thấy đau cơ khớp. Một số biểu hiện khác có thể kể tới như bỏ ăn, bỏ uống và khó thở.
            </p>
            <li>
                <div class="more-info">
                    <a href="" class="post-title">
                        Mèo bị cảm lạnh khi nào?
                    </a>
                    <p class="post-excerpt mt-20">
                        Bệnh cúm méo có thể được lây truyền qua nước bọt và nước mắt. Việc tiếp xúc với các loại dịch này sẽ khiến mèo dính virus.
                    </p>
                    <p class="post-excerpt mt-20">
                        Mèo con thường có nguy cơ mắc cúm mèo cao nhất, trong khi mèo trưởng thành có khả năng đề kháng virus khá tốt.
                    </p>
                    <a href="" class="post-thumb">
                        <img class="img-cat" src="~/asset/image/tintuc/Meo-bi-cam-lanh-phai-lam-sao-1.jpg" alt="">
                        <figcaption class="caption">Cần kiểm tra sức khỏe định kỳ cho vật nuôi</figcaption>
                    </a>
                    <p class="post-excerpt mt-20">
                        Mèo con thường có nguy cơ mắc bệnh cao nhất.
                    </p>

                    <p class="post-excerpt mt-20">
                        Mèo già có tiền sử mắc bệnh tim phổi cũng có nhiều khả năng mắc bệnh. Trong trường hợp đó, chủ nuôi cần phải liên hệ với bác sĩ thú y để có biện pháp điều trị.
                    </p>
                    <p class="post-excerpt mt-20">
                        Mèo mắc nhiều bệnh khác kết hợp với cúm mèo sẽ giảm sút sức khỏe đáng kể.
                    </p>
                    <p class="post-excerpt mt-20">
                        Virus cúm mèo thường tồn tại lâu bên trong cơ thể. Các triệu chứng rất hiếm khi xuất hiện nhưng virus sẽ phát tác trở lại vào những thời điểm sức đề kháng của mèo sụt giảm.
                    </p>
                    <a href="" class="post-title">
                        Cách điều trị bệnh cúm mèo
                    </a>
                    <p class="post-excerpt mt-20">
                        Không có cách điều trị bệnh cúm mèo, nhưng tin tốt là những chú mèo khỏe mạnh thường tự xây dựng hệ thống miễn dịch giúp chống lại loại virus này.
                    </p>
                    <p class="post-excerpt mt-20">
                        Do đó, chủ nuôi cần đảm bảo chế độ ăn uống đủ dinh dưỡng cho mèo.
                    </p>
                    <p class="post-excerpt mt-20">
                        Chế độ dinh dưỡng tốt sẽ giúp sức đề kháng của mèo tăng lên, làm giảm nguy cơ tái phát virus cúm mèo.
                    </p>
                    <a href="" class="post-thumb">
                        <img class="img-cat" src="~/asset/image/tintuc/Meo-bi-cam-lanh-phai-lam-sao-2.jpg" alt="">
                        <figcaption class="caption">Cách điều trị bệnh cúm mèo</figcaption>
                    </a>
                    <p class="post-excerpt mt-20">
                        Mèo bệnh cần được vệ sinh tốt.
                    </p>
                    <p class="post-excerpt mt-20">
                        Cách tốt nhất chủ nuôi có thể làm để giảm các triệu chứng cúm mèo là sử dụng một miếng vải sạch ngâm trong dung dịch nước muối.
                    </p>
                    <p class="post-excerpt mt-20">
                        Sau khi ngâm, hãy dùng miếng vải để lau sạch các dịch tiết từ mắt và mũi của mèo.
                    </p>
                    <p class="post-excerpt mt-20">
                        Các khay nước uống và chỗ nằm ngủ của mèo cũng cần được vệ sinh sạch sẽ để ngăn ngừa virus.
                    </p>
                    <a href="" class="post-title">
                        Cách phòng ngừa bệnh cúm mèo
                    </a>
                    <p class="post-excerpt mt-20">
                        Cách đơn giản để bảo vệ thú cưng khỏi bệnh cúm mèo là tiêm phòng hàng năm.
                    </p>
                    <p class="post-excerpt mt-20">
                        Mèo nuôi từ 9 tuần tuổi trở lên nên được mang tới cơ sở thú y để tiến hành tiêm phòng.
                    </p>
                    <a href="" class="post-thumb">
                        <img class="img-cat" src="~/asset/image/tintuc/Meo-bi-cam-lanh-phai-lam-sao-3.jpg" alt="">
                        <figcaption class="caption">Cách phòng ngừa bệnh cúm mèo</figcaption>
                    </a>
                    <p class="post-excerpt mt-20">
                        Tiêm vắc-xin phòng cúm cho mèo.
                    </p>
                    <p class="post-excerpt mt-20">
                        Vắc-xin phòng cúm mèo không được miễn phí như vắc-xin phòng dại nên chủ nuôi cần chuẩn bị một lượng ngân sách nhất định cho chu kỳ tiêm phòng hàng năm.
                    </p>
                    <p class="post-excerpt mt-20">
                        Điểm lưu ý, tiêm vắc-xin sẽ không có hiệu quả nếu mèo đã nhiễm virus cúm từ trước đó. Cúm mèo rất dễ lây lan và mèo chưa tiêm phòng đều có nguy cơ nhiễm bệnh. Chủ nuôi cần thận trọng với mèo lạ vào nhà. Chú ý cách ly mèo lạ với mèo nuôi khi chưa hiểu rõ tình trạng sức khỏe của mèo lạ.
                    </p>
                </div>
            </li>

        </ul>
        <a class="back" href="/Home">--QUAY LẠI--</a>
    </div>

</body>
</html>
