
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Những lưu ý chăm nuôi thú cưng khi nhà có trẻ nhỏ</title>
    <link href="~/Content/TinTuc.css" rel="stylesheet" />
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAAAAAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAFBT8AEVwoQAcWowAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACARAgAAAAACIAACIAAAACIiACIiAAAAIgIAICIAAAAiAiIgIgAAACICIiAiAAAAAiIiIiAAAAAgIiIiAgAAACMAAAAyAAAAIyAAAjIAAAAiIAACIgAAACIgAAIiAAAAIiAAAyIAAAAAAAAAAAAAAAAAAAAAAADwPwAA4B8AAMAPAACABwAAgAcAAIAHAACABwAAgAcAAIAHAACABwAAgwcAAIMHAACDBwAAgwcAAMePAAD//wAA" rel="icon" type="image/x-icon" />
</head>
<body>
    <div id="wapper">
        <h1>Những lưu ý chăm nuôi thú cưng khi nhà có trẻ nhỏ</h1>
        <ul class="list-post">
            <p class="text-first">
                Thông thường, chó mèo là những loại thú cưng được tìm thấy phổ biến trong nhiều gia đình Việt. Những con vật này xuất hiện ở khắp nơi từ nông thôn cho tới thành phố.
                Chúng gần như đã trở thành những thành viên trong gia đình và được chủ nhân đặc biệt “chiều chuộng”. Tuy nhiên, làm cách nào để dung hòa các con vật này đối với những gia đình có con nhỏ là câu hỏi thắc mắc của không ít độc giả.
            </p>
            <a href="" class="post-thumb">
                <img class="img-cat" src="~/asset/image/tintuc/nhung-luu-y-cham-nuoi-thu-cung-khi-nha-co-tre-nho.jpg" alt="">
                <figcaption class="caption">Nên lựa chọn những con vật nuôi khỏe mạnh</figcaption>
            </a>
            <li>
                <div class="more-info">
                    <a href="" class="post-title">
                        Chọn thú cưng khỏe mạnh
                    </a>
                    <p class="post-excerpt">
                        Đối với nhà có trẻ nhỏ, việc làm đầu tiên trước khi nhận nuôi thú cưng đó là cần tìm hiểu kỹ về các thông tin liên quan đến con vật định nuôi. Hiện trạng ban đầu của vật nuôi ra sao? Nó sẽ lớn đến mức độ nào? Bạn và các thành viên trong gia đình có bị dị ứng với chất gì không? Nếu bạn nuôi từ 2 con trở lên thì liệu có dễ xảy ra xung đột giữa chúng hay không?
                    </p>
                    <p class="post-excerpt mt-20">
                        Kiểm tra sức khỏe định kỳ của thú cưng là cách thức đảm bảo rằng con vật bạn định nuôi hoàn toàn khỏe mạnh. Tiêm phòng cho chúng với những mũi tiêm cần thiết theo khuyến cáo của các cơ quan chức năng nơi bạn ở.
                    </p>
                    <p class="post-excerpt mt-20">
                        Không nên lựa chọn những con vật đang có dấu hiệu bị bệnh. Bởi vì những em bé có độ tuổi từ 5 trở xuống dễ mắc các bệnh nguy cơ cao từ động vật. Các loại virus, vi khuẩn dễ lây lan từ động vật sang người qua những vết trầy xước, chất thải, vết cắn…
                    </p>
                    <p class="post-excerpt mt-20">
                        Hơn nữa, do trẻ còn quá nhỏ và chưa ý thức được tầm quan trọng của việc giữ gìn một bàn tay sạch sẽ nên những nhiễm trùng này có nguy cơ gây ra mức nghiêm trọng hơn
                    </p>
                    <a href="" class="post-thumb">
                        <img class="img-cat" src="~/asset/image/tintuc/Meo-bi-cam-lanh-phai-lam-sao-3.jpg" alt="">
                        <figcaption class="caption">Cần kiểm tra sức khỏe định kỳ cho vật nuôi</figcaption>
                    </a>
                    <p class="post-excerpt mt-20">
                        Và cần thỏa thuận với tất cả các thành viên trong gia đình trước khi nhận nuôi con vật. Việc làm này thật sự cần thiết bởi con vật sẽ trở thành một trong những người “bạn” của cả gia đình. Phân công trách nhiệm ai sẽ là người chăm sóc chính cho nó.
                    </p>
                    <a href="" class="post-title">
                        Dạy trẻ khoảng cách an toàn
                    </a>
                    <p class="post-excerpt">
                        Trẻ em thường thiếu linh hoạt trong những tình huống cấp bách nên việc làm đầu tiên cần dạy trẻ đó là giữ khoảng cách an toàn với vật nuôi trong nhà. Cần hạn chế để trẻ tiếp xúc với chúng, hoặc tiếp xúc trong phạm vi quan sát của người lớn.
                    </p>
                    <p class="post-excerpt mt-20">
                        Dạy trẻ tránh những hành động thô bạo với vật nuôi như: đánh đập, cầm vào đuôi và các bộ phận nhạy cảm của con vật. Mục đích của việc làm này để tránh trẻ bị trầy xước hay bị vật nuôi cắn.
                    </p>
                    <p class="post-excerpt mt-20">
                        Nhắc nhở trẻ không đưa tay vào miệng vật nuôi khi đùa giỡn hoặc cho chúng ăn bằng tay không. Cần tránh chia sẻ đồ ăn của mình với vật nuôi. Càng không nên đưa tay vào miệng sau khi chơi với con vật.
                    </p>
                    <p class="post-excerpt mt-20">
                        Dạy trẻ thường xuyên rửa tay thật sạch sau khi có những hành vi tiếp xúc với con vật. Một điều nữa, cần dạy con không được chạm vào con vật đã chết ở bất kỳ đâu.
                    </p>
                    <a href="" class="post-thumb">
                        <img class="img-cat" src="~/asset/image/tintuc/nhung-luu-y-cham-nuoi-thu-cung-khi-nha-co-tre-nho1.jpg" alt="">
                        <figcaption class="caption">Dạy trẻ khoảng cách an toàn với thú cưng trong nhà</figcaption>
                    </a>
                    <a href="" class="post-title">
                        Xử trí khi bé bị vật nuôi cắn
                    </a>
                    <p class="post-excerpt">
                        Khi bé bị vật nuôi cắn, người lớn cần kiểm tra trên người bé có bao nhiêu vết cắn trên người. Tùy vào vị trí bị cắn và mức độ nặng nhẹ để có những sơ cứu ban đầu.
                    </p>
                    <p class="post-excerpt mt-20">
                        Cách xử trí khi bị chó mèo cắn: Rửa vết thương bằng nước sạch và xà phòng, nên xả trực tiếp nước vào vết thương trong thời gian 5 phút. Sát trùng vết thương bằng dung dịch sát khuẩn (cồn iod hoặc cồn 70°. Băng vết thương bằng vải sạch (không nên băng quá chặt). Sau đó đưa trẻ đến các cơ sở y tế nơi gần nhất.
                    </p>
                    <p class="post-excerpt mt-20">
                        Đưa trẻ đi tiêm phòng dại nếu trẻ bị chó cắn. Việc làm này cần thực hiện càng sớm càng tốt. Khi trẻ bị thú cưng cắn, ngoài việc theo dõi sức khỏe của bé, cần đặc biệt lưu tâm đến con vật nuôi đó trong thời gian 7 – 10 ngày để có biện pháp xử trí kịp thời.
                    </p>
                </div>
            </li>

        </ul>
        <a class="back" href="/Home">--QUAY LẠI--</a>
    </div>

</body>
</html>
