
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Một số loại thực phẩm tốt cho hệ tiêu hoá của chó</title>
    <link href="~/Content/TinTuc.css" rel="stylesheet" />
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAAAAAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAFBT8AEVwoQAcWowAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACARAgAAAAACIAACIAAAACIiACIiAAAAIgIAICIAAAAiAiIgIgAAACICIiAiAAAAAiIiIiAAAAAgIiIiAgAAACMAAAAyAAAAIyAAAjIAAAAiIAACIgAAACIgAAIiAAAAIiAAAyIAAAAAAAAAAAAAAAAAAAAAAADwPwAA4B8AAMAPAACABwAAgAcAAIAHAACABwAAgAcAAIAHAACABwAAgwcAAIMHAACDBwAAgwcAAMePAAD//wAA" rel="icon" type="image/x-icon" />
</head>
<body>
    <div id="wapper">
        <h1>Một số loại thực phẩm tốt cho hệ tiêu hoá của chó</h1>
        <ul class="list-post">
            <p class="text-first">
                Tiêu chảy là một trong những chứng bệnh rất phổ biến ở thú cưng, chắc hẳn sẽ có rất nhiều người nuôi boss thắc mắc rằng phải cho cún ăn gì để hồi phục cơ thể nhanh chóng. Sau đây phòng khám thú y Thi Thi sẽ giới thiệu đến mọi người một số loại thực phẩm rất tốt cho hệ tiêu hóa của các giống chó.
            </p>
            <li>
                <div class="more-info">
                    <a href="" class="post-title">
                        Có nên cho chó ăn đồ ăn khô để dễ tiêu hóa hơn?
                    </a>
                    <p class="post-excerpt">
                        Đây là hiểu lầm không đáng có của nhiều người nuôi thú cưng, khi thấy các bé bị vấn đề về tiêu hóa thì thường cho chúng chuyển qua đồ ăn ướt. Tuy nhiên theo các bác sĩ thú ý, tỷ lệ nước trong thức ăn ướt tới 80%, với độ ẩm cao như vậy thì dạ dày sẽ khó có thể tiêu hết được dẫn tới tình trạng đi phẩn lỏng nhiều hơn.
                    </p>
                    <p class="post-excerpt mt-20">
                        Do vậy bạn nên chọn các loại thực phẩm cho chó ở dạng khô để làm giảm lượng nước dư thừa trong dạ dày.
                    </p>
                    <a href="" class="post-title">
                        Các loại thực phẩm cho chó khi chúng bị tiêu chảy
                    </a>
                    <p class="comtrang">Cơm trắng</p>

                    <p class="post-excerpt mt-20">
                        Cơ thể sẽ mất rất nhiều nước khi bị tiêu chảy, vì thế mà hệ tiêu hóa cũng yếu hơn bình thường. Các chất xơ có trong cơm trắng sẽ là sự lựa chọn tuyệt vời để cải thiện hệ tiêu hóa hoạt động tốt hơn.
                    </p>
                    <p class="post-excerpt mt-20">
                        Lưu ý là chỉ nên cho thú cưng ăn mỗi xơm trắng và không thêm bất kỳ loại gia vị nào vào.
                    </p>
                    <a href="" class="post-thumb">
                        <img class="img-cat" src="~/asset/image/tintuc/bi-do.jpg" alt="">
                        <figcaption class="caption">Bí đỏ- thực phẩm cho chó khi bị tiêu chảy</figcaption>
                    </a>
                    <p class="post-excerpt mt-20">
                        Bí đỏ cũng là một trong những loại thực phẩm giàu chất xơ, hỗ trợ đường ruột hấp thụ tối đa các chất dinh dưỡng và cân bằng độ ẩm để phân bớt lỏng đi.
                    </p>
                    <p class="post-excerpt mt-20">
                        Bạn có thể hấp bí đỏ rồi nghiền chúng ra cho thật nguyễn rồi trộn chung với cơm trắng cho thú cưng ăn.
                    </p>
                    <a href="" class="post-title">
                        Khoai tây
                    </a>
                    <p class="post-excerpt">
                        Loại củ này có tác dụng tăng khả năng phục hồi hệ tiêu hóa, loại bỏ các vi khuẩn đường ruột gây bệnh tiêu chảy. Ngoài ra, khoai tây còn kích thích sự cân bằng độ ẩm trong phân và hạn chế tình trạng bệnh ngày càng nặng.
                    </p>
                    <a href="" class="post-title">
                        Khoai lang
                    </a>
                    <a href="" class="post-thumb">
                        <img class="img-cat" src="~/asset/image/tintuc/khoai-lang.jpg" alt="">
                        <figcaption class="caption">Khoai lang – thực phẩm cho chó khi bị tiêu chảy</figcaption>
                    </a>
                    <p class="post-excerpt mt-20">
                        Trong khoai lang chứa nhiều vitamin C, chất xơ giúp làm giảm viêm dạ dày và giúp thú cưng tiêu hóa thức ăn dễ dàng hơn. Tuyệt đối không cho cún cưng của bạn ăn khoai lang sống nhé, điều này sẽ khiến bệnh tiêu chảy càng nặng hơn.
                    </p>
                    <a href="" class="post-title">
                        Trứng luộc
                    </a>
                    <p class="post-excerpt">
                        Các loại trứng như gà, vịt… đều chứa nhiều protein và các chất dinh dưỡng có lợi. Đây là một loại thực phẩm cho chó rất tuyệt vời khi chúng bị tiêu chảy vì sẽ giúp khắc phục tình trạng đi ngoài phân lỏng một cách nhanh chóng.
                    </p>
                    <p class="post-excerpt mt-20">
                        Chú ý là trong trứng sống chứa nhiều hàm lượng vi khuẩn có hại cao, nếu ăn phải dễ bị ngộ độc nên tốt nhất là phải ăn chín uống sôi nhé.
                    </p>
                    <a href="" class="post-title">
                        Thịt gà
                    </a>
                    <p class="post-excerpt">
                        Khi bị tiêu chảy, bạn vẫn có thể cho cún cưng ăn thịt gà nhưng nên nấu khô như luộc, làm chà bông và nhớ là không nêm thêm gia vị. Bạn có thể luộc gà rồi loại bỏ phần da, xé nhỏ ra trộn chung với cơm để hiệu quả trị bệnh tốt hơn.
                    </p>
                    <a href="" class="post-title">
                        Sữa chua
                    </a>
                    <a href="" class="post-thumb">
                        <img class="img-cat" src="~/asset/image/tintuc/sua-chua.jpg" alt="">
                        <figcaption class="caption">
                            Sữa chua – thực phẩm cho chó khi bị tiêu chảy
                        </figcaption>
                    </a>
                    <p class="post-excerpt mt-20">
                        Sữa chua vốn nổi tiếng là loại thực phẩm tốt cho hệ tiêu hóa, và đối với chó cũng không ngoại lệ. Trong sữa chua có lactobacillus và protein kháng viếm giúp ức chế sản sinh các vi khuẩn có hại và tăng cường sức đề kháng, cải thiện chức năng đường ruột cho cơ thể.
                    </p>
                    <p class="post-excerpt mt-20">
                        Lưu ý là chỉ nên chọn sữa chua truyền thống, không có thêm các hương vị trái cây.
                    </p>
                </div>
            </li>

        </ul>
        <a class="back" href="/Home">--QUAY LẠI--</a>
    </div>

</body>
</html>
