
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tại sao phải tiêm phòng vacxin cho thú cưng?</title>
    <link href="~/Content/TinTuc.css" rel="stylesheet" />
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAAAAAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAFBT8AEVwoQAcWowAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACARAgAAAAACIAACIAAAACIiACIiAAAAIgIAICIAAAAiAiIgIgAAACICIiAiAAAAAiIiIiAAAAAgIiIiAgAAACMAAAAyAAAAIyAAAjIAAAAiIAACIgAAACIgAAIiAAAAIiAAAyIAAAAAAAAAAAAAAAAAAAAAAADwPwAA4B8AAMAPAACABwAAgAcAAIAHAACABwAAgAcAAIAHAACABwAAgwcAAIMHAACDBwAAgwcAAMePAAD//wAA" rel="icon" type="image/x-icon" />
</head>
<body>
    <div id="wapper">
        <h1>Tại sao phải tiêm phòng vacxin cho thú cưng?</h1>
        <ul class="list-post">
            <p class="text-first">
                Tiêm vacxin là cách tốt nhất dể giúp chú thúcưng của bạn phòng chống được bệnh nguy hiểm, bệnh không có thuốc chữa, bệnh truyền nhiễm.Từ đó tránh được thiệt hại về kinh tế cho bạn cũng như tính mạng của thú cưng.
            </p>
            <li>
                <div class="more-info">
                    <a href="" class="post-thumb">
                        <img class="img-cat" src="~/asset/image/tintuc/tiem-vaccine-cho-cho.jpg" alt="">
                        <figcaption class="caption">Tiem ngừa Vacxin cho chó</figcaption>
                    </a>
                    <a href="" class="post-title">
                        Vacxin 5 bệnh phòng các bệnh sau:
                    </a>
                    <p class="post-excerpt">
                        - Care virus.
                    </p>
                    <p class="post-excerpt mt-20">
                        - Parvo virus.
                    </p>
                    <p class="post-excerpt mt-20">
                        - Viêm gan truyền nhiễm.
                    </p>
                    <p class="post-excerpt mt-20">
                        - Ho cũi chó.
                    </p>
                    <p class="post-excerpt mt-20">
                        - Phó cúm.
                    </p>
                    <a href="" class="post-title">
                        Vacxin 6 bệnh phòng các bệnh:
                    </a>
                    <p class="post-excerpt">
                        5 bệnh trên và thêm Leptospria.
                    </p>
                    <a href="" class="post-title">
                        Vacxin 7 bệnh phòng các bệnh:
                    </a>
                    <p class="post-excerpt">
                        6 bệnh của vacxin 6 bệnh và thêm bệnh Coronavirus.
                    </p>
                    <p class="post-excerpt mt-20">
                        Hiện nay 2 loại vacxin được dùng phổ biến là vacxin 5 bệnh và vacxin 7 bệnh.
                    </p>
                    <a href="" class="post-title">
                        Bảo quản:
                    </a>
                    <p class="post-excerpt">
                        - Trong quá trình vận chuyển vacxin cần bảo quản vacxin đúng quy định.
                    </p>
                    <p class="post-excerpt mt-20">
                        - Nhiệt độ: 2-7 độ C
                    </p>
                    <p class="post-excerpt mt-20">
                        - Tránh ánh sáng trực tiếp và va đập mạnh.
                    </p>
                    <a href="" class="post-title">
                        Liệu trình tiêm vacxin:
                    </a>
                    <p class="post-excerpt">
                        Tại sao nên tiêm vaccine mũi đầu tiên khi thú cưng được 3 tuần tuổi? vì đó là lúc lượng kháng thể mẹ truyền thấp, đồng thời vào độ tuổi đó thú cưng thường bắt đầu tập ăn nên dễ nhiễm bệnh hơn cả.
                    </p>
                    <a href="" class="post-title">
                        Tuổi chủng Vaccine	Loại vaccine tiêm (chó sơ sinh của nhà đẻ ra):
                    </a>
                    <p class="post-excerpt">
                        - 3 tuần tuổi: 1 mũi vaccine 5 bệnh.
                    </p>
                    <p class="post-excerpt mt-20">
                        - 6 tuần tuổi: 1 mũi vaccine 5 bệnh hoặc 7 bệnh.
                    </p>
                    <p class="post-excerpt mt-20">
                        - 9 tuần tuổi: 1 mũi vaccine 5 bệnh hoặc 7 bệnh.
                    </p>
                    <p class="post-excerpt mt-20">
                        - 7 đến 8 tháng tuổi: 1 mũi vaccine dại.
                    </p>
                    <p class="post-excerpt mt-20">
                        - 1 năm sau: Nhắc lại 1 mũi 5 hoặc 7 bệnh.
                    </p>
                    <p class="post-excerpt mt-20">
                        - 1 năm sau...: Nhắc lại (định kỳ hằng năm).
                    </p>
                    <a href="" class="post-thumb">
                        <img style="margin-top: 20px;" class="img-cat" src="~/asset/image/tintuc/tiem-vaccine-cho-cho-01.jpg" alt="">
                        <figcaption class="caption">Tiem ngừa Vacxin cho chó</figcaption>
                    </a>
                    <a href="" class="post-title">
                        Tuổi chủng Vaccine	Loại vaccine tiêm (chó sơ mới mua về):
                    </a>
                    <p class="post-excerpt">
                        - Nên mua chó từ 2,5 tháng tuổi trở lên, có sổ khám chữa bệnh và đã tiêm vacxin.
                    </p>
                    <p class="post-excerpt mt-20">
                        - Trường hợp chưa rõ ràng thì tiêm lại theo liệu trình chó sơ sinh.
                    </p>
                    <p class="post-excerpt mt-20">
                        - Nếu đã tiêm 2 mũi có thể tiêm thêm mũi thứ 3.
                    </p>
                    <p class="post-excerpt mt-20">
                        - Với chó truởng thành mới mua về cũng nên tiêm phòng.
                    </p>
                    <p class="post-excerpt mt-20">
                        - Tiêm nhắc lại định kỳ 1 năm 1 lần.
                    </p>
                    <p class="post-excerpt mt-20">
                        - Khi chó được khoảng 7-8 tháng tuổi thì tiêm phòng dại cho chó và tiêm nhắc lại định kỳ 1 năm 1 lần.
                    </p>
                    <a href="" class="post-title">
                        Lưu ý khi tiêm vacxin cho thú cưng:
                    </a>
                    <p class="post-excerpt">
                        - Bạn nên đưa thú cưng tới phòng khám, bệnh viện thú y để được tư vấn và tiêm phòng đúng cách, có biện pháp xử lý nếu chúng có phản ứng lại với thuốc hay sốt phản vệ.
                    </p>
                    <p class="post-excerpt mt-20">
                        - Không tiêm khi thú cưng có biểu hiện bệnh lý, khi thú cưng bị sốt... (kiểm tra sức khỏe và nhiệt độ trước khi tiêm phòng).
                    </p>
                    <p class="post-excerpt mt-20">
                        - Sau khi tiêm xong cần chăm sóc chó tốt hơn, kiêng tắm; Kiêng thức ăn có chứa nhiều mỡ, sữa, đồ tanh ít nhất là 1 tuần.
                    </p>
                    <p class="post-excerpt mt-20">
                        - Một số trường hợp tiêm phòng sai có thể làm thú cưng mắc bệnh.
                    </p>
                    <p class="post-excerpt mt-20">
                        - Tiêm không đúng cách vacxin sẽ không có tác dụng, gây ảnh hưởng xấu tới sức khỏe của thú cưng.
                    </p>
                    <p class="post-excerpt mt-20">
                        - Tiến hành tẩy giun sau khi tiêm phòng 1 tuần.
                    </p>
                </div>
            </li>

        </ul>
        <a class="back" href="/Home">--QUAY LẠI--</a>
    </div>

</body>
</html>
